@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
}

html,
body {
    width: 100vw;
    height: 100vh;
}

body {
    background: url(imagens/fundo.jpg) no-repeat left center;
    background-attachment: fixed;
    background-size: cover;

}

main {
    position: relative;
    height: 100vh;
}

section#console {
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
    background: url(imagens/game-boy.png) no-repeat  center;

    height: 438px;
    width: 266px;
    background: url(imagens/game-boy.png) no-repeat;
}

iframe#videogame{
    position: relative;
    top: 60px;
    left: 62px;

    width: 142px;
    height: 129px;

}

section#personagens {
    text-align: right;
    padding: 5px 1px;
}

section#personagens img {
    width: 65px;
    margin: 2px 4px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px #00000062;
    box-sizing: border-box;
}

section#personagens img:hover {
    border: 4px solid #e5ff00;
    box-shadow: 5px 0px 10px #00000060;
    transform: translate(-8px, -0px);
    transition: .3s;
}