@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
}

html, body{
    width: 100vw;
    height: 100vh;
}

body{
    background-image: url(imagens/fundo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
}




section#console {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 550px;

    
   
}